.nav-logo {
    height: 185px;
    width: auto;
    display:block;
    margin-top: -50px;
    margin-bottom: -50px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,
    #0096FF 0% 20%,
    #FF0000 20% 40%,
    #000000 40% 60%,
    #FFFF00 60% 80%,
    #008000 80% 100%
    );
    padding: 0rem 1rem;
    
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-family: "Monofett", monospace;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.nav-bar a:hover {
    text-decoration: underline;
}

.nav-bar button {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-family: "Monofett", monospace;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.nav-bar button:hover {
    text-decoration: underline;
}